@model CadastroDeClientes.Models.Cliente

@{
    ViewData["Title"] = "Visualizar";
}

<h2>Visualizar</h2>

<div>
    <h4>Cliente</h4>
    <hr />
    <dl class="dl-horizontal">
        <div class="col-md-12 row">
            <div class="col-md-12 row">
                <dt>
                    @Html.DisplayNameFor(model => model.Id)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Id)
                </dd>
            </div>
            <div class="col-md-12 row">
                <dt>
                    @Html.DisplayNameFor(model => model.Nome)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Nome)
                </dd>
            </div>
            <div class="col-md-2 row">
                <dt>
                    @Html.DisplayNameFor(model => model.DataNascimento)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.DataNascimento)
                </dd>
            </div>
            <div class="col-md-2 row">
                <dt>
                    @Html.DisplayNameFor(model => model.Sexo)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Sexo)
                </dd>
            </div>
            <div class="col-md-2 row">
                <dt>
                    @Html.DisplayNameFor(model => model.EndCliente.Cep)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.EndCliente.Cep)
                </dd>
            </div>
            <div class="col-md-4 row">
                <dt>
                    @Html.DisplayNameFor(model => model.EndCliente.End)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.EndCliente.End)
                </dd>
            </div>
            <div class="col-md-2 row">
                <dt>
                    @Html.DisplayNameFor(model => model.EndCliente.Numero)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.EndCliente.Numero)
                </dd>
            </div>
            <div class="col-md-4 row">
                <dt>
                    @Html.DisplayNameFor(model => model.EndCliente.Complemento)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.EndCliente.Complemento)
                </dd>
            </div>
            <div class="col-md-3 row">
                <dt>
                    @Html.DisplayNameFor(model => model.EndCliente.Bairro)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.EndCliente.Bairro)
                </dd>
            </div>
            <div class="col-md-4 row">
                <dt>
                    @Html.DisplayNameFor(model => model.EndCliente.Cidade)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.EndCliente.Cidade)
                </dd>
            </div>
            <div class="col-md-1 row">
                <dt>
                    @Html.DisplayNameFor(model => model.EndCliente.Estado)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.EndCliente.Estado)
                </dd>
            </div>
        </div>
    </dl>
</div>
<div class="row">
    <button class="btn btn-warning" type="button">@Html.ActionLink("Editar", "Editar", new { id = Model.Id })</button>
    <button class="btn btn-success"><a asp-action="Index">Voltar</a></button>
</div>
